<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <a routerLink="home" routerLinkActive="active" class="navbar-brand"
    >Angular Registration</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExample"
    aria-controls="navbarExample"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarExample">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a *ngIf="loginbtn" routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a *ngIf="loginbtn" routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a *ngIf="logoutbtn" type="button" class="btn btn-block" (click)="logout()" routerLinkActive="active">Logout</a>
          </li>
          <li class="nav-item">
            <a *ngIf="loginbtn" routerLink="registration" class="nav-link" routerLinkActive="active">Registration</a>
          </li>
          <li class="nav-item">
              <a *ngIf="logoutbtn" routerLink="dashboard" class="nav-link">Dashboard</a>
          </li>
      </ul>
  </div>

</nav>

<router-outlet></router-outlet>
